# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
wheelhouse/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# Editor and OS files
.DS_Store
.vscode/
.idea/

